<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- CSS
        ================================================== -->
<!--        <link rel="stylesheet" href="/assets/css/main.css"> -->
        <!-- Skeleton -->
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/skeleton.css">
        <link rel="stylesheet" href="/assets/css/layout.css">
        <link rel="stylesheet" href="/assets/css/docs.css">
        <!-- custom -->
        <link rel="stylesheet" href="/assets/css/table.css">
<!--        <link rel="stylesheet" href="/assets/css/style.css"> -->

    </head>
    <body>

        <div class="container">
            <div class="three columns sidebar">
                <nav>
                    <h4 class="title"><a href="/">{{ site.name }}</a></h4>
                    <ul>
                        <li><a class="extra" href="/news">News</a></li>
                        <li><a class="extra" href="/welcome">Welcome</a></li>
                        <li><a class="extra" href="/charter">Charter</a></li>
                        <li><a class="extra" href="/roster">Roster</a></li>
                        <li><a class="extra" href="/gallery">Gallery</a></li>
                    </ul>
                </nav>
            </div>

            <div class="twelve columns offset-by-four content">
                {{ content }}
            </div>

        </div>

    </body>
</html>
